@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue-color: hsl(215, 51%, 70%);
  --cyan-color: hsl(178, 100%, 50%);
  --main-background-color: hsl(217, 54%, 11%);
  --card-background-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white-color: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.card {
  width: 85%;
  max-width: 400px;
  padding: 1.5rem;
  background-color: var(--card-background-color);
  color: var(--white-color);
  border-radius: 1rem;
}

.card-image-container {
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}

.card-image-container::before,
.card-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-image-container::before {
  background-color: var(--cyan-color);
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.card-image-container:hover::before {
  opacity: 0.5;
  cursor: pointer;
}

.card-image-container::after {
  background-image: url("./images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.card-image-container:hover::after {
  opacity: 1;
  cursor: pointer;
}

.card-title {
  margin: 1.5rem 0;
}

.card-title a {
  text-decoration: none;
  color: var(--white-color);
  transition: color 0.4s;
}

.card-title a:hover {
  color: var(--cyan-color);
}

.card-text {
  margin: 1.25rem 0;
  color: var(--soft-blue-color);
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.left-column {
  color: var(--cyan-color);
  font-weight: 600;
}

.right-column {
  color: var(--soft-blue-color);
}

.gap {
  gap: 0.25rem;
}

.line {
  height: 1px;
  background-color: var(--line-color);
  margin: 1.25rem 0;
}

.card-creator {
  color: var(--soft-blue-color);
}

.card-creator-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.15rem solid var(--white-color);
}

.big-gap {
  gap: 1.5rem;
}

.creator-name a {
  text-decoration: none;
  color: var(--white-color);
  transition: color 0.4s;
}

.creator-name a:hover {
  color: var(--cyan-color);
}
